html
{ height: 100%;}

*
{ margin: 0;
  padding: 0;}

body
{ font: normal .80em arial, sans-serif;
  background: transparent url(../images/background.jpg) repeat;
  color: #1D1D1D;}

p
{ padding: 0 0 20px 0;
  line-height: 1.7em;}
  
img
{ border: 0;}

h1, h2, h3, h4, h5, h6 
{ font: bold 175% arial, sans-serif;
  color: #933A00;
  letter-spacing: -1px;
  margin: 0 0 5px 0;
  padding: 15px 0 0 0;}

h2
{ font: bold 165% arial, sans-serif;
  padding-bottom: 10px;}

h3
{ font: bold 125% arial, sans-serif;
  padding: 0 0 5px 0;
  color: #933A00;}

h4, h5, h6
{ margin: 0;
  padding: 0 0 5px 0;
  font: bold 110% arial, sans-serif;
  color: #1D1D1D;
  line-height: 1.5em;}

h5, h6
{ font: italic 95% arial, sans-serif;
  color: #1D1D1D;
  padding-bottom: 15px;}

h6
{ color: #362C20;}

a, a:hover
{ background: transparent;
  outline: none;
  text-decoration: underline;
  color: #5D5D5D;}

a:hover
{ text-decoration: underline;
  color: #1D1D1D;}

ul
{ margin: 2px 0 22px 17px;}

ul li
{ margin: 2px 0 15px 17px;}

ol
{ margin: 8px 0 22px 20px;}

ol li
{ margin: 0 0 11px 0;}

#main, #header, #banner, #menubar, #site_content, #footer, #contact, #footer_content
{ margin-left: auto; 
  margin-right: auto;}

#header
{ width: 1000px;
  height: 70px;
  background: transparent;
  text-align: center;}

#header_name
{ width: 500px;
  float: left;}  
 
#header H1
{ width: 500px;
  font: normal 300% arial, sans-serif;
  color: #1D1D1D;
  letter-spacing: -4px;
  background: transparent;}

span
{ color: #933A00;}

#header_slogan
{ width: 500px;
  float: right;
  padding-top: 12px;}  
  
#header H2
{ width: 500px;
  font: italic 180% arial, sans-serif;
  color: #1D1D1D;
  letter-spacing: -2px;
  background: transparent;}

#menubar
{ width: 1000px;
  height: 50px;
  text-align: center; 
  margin-top: 20px;
  color: #000;
  background: transparent;} 
  
#contact{
  width: 230px;
  float: left;
  height: 40px;
  background: transparent;
  padding: 10px 0 10px 20px;
}

#site_content
{ width: 1000px;
  overflow: hidden;
  background: transparent url(../images/transparent.png) repeat;}  
  
#banner_image {
    margin: 0 auto;
	width: 960px;
}
#slider-wrapper {
    height: 250px;
	background: transparent;
	width: 960px;
}
#slider {
    background: url("../images/loading.gif") no-repeat scroll 50% 50% transparent;
    height: 250px;
    position: relative;
    width: 960px;
}
#slider img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
#slider a {
    border: 0 none;
    display: block;
}
.nivoSlider {
    position: relative;
}
.nivoSlider img {
    left: 0;
    position: absolute;
    top: 0;
}
.nivoSlider a.nivo-imageLink {
    border: 0 none;
    display: none;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 6;
}
.nivo-slice {
    display: block;
    height: 100%;
    position: absolute;
    z-index: 5;
}
.nivo-box {
    display: block;
    position: absolute;
    z-index: 5;
}
.nivo-caption {
    background: none repeat scroll 0 0 #000000;
    bottom: 0;
    color: #FFFFFF;
    font-family: arial;
    left: 0;
    position: absolute;
    text-transform: uppercase;
    width: 100%;
    z-index: 8;
}
.nivo-caption p {
    margin: 0;
    padding: 5px;
}
.nivo-caption a {
    color: red;
    display: inline !important;
    text-decoration: none;
}
.nivo-caption a:hover {
    color: blue;
    text-decoration: underline;
}
.nivo-html-caption {
    display: none;
}
.nivo-directionNav a {
    background: url("../images/arrows.png") no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 30px;
    position: absolute;
    text-indent: -9999px;
    top: 45%;
    width: 30px;
    z-index: 9;
}
a.nivo-prevNav {
    left: 15px;
}
a.nivo-nextNav {
    background-position: -30px 50%;
    right: 15px;
}
.nivo-controlNav {
    bottom: -30px;
    left: 50%;
    margin-left: -40px;
    position: absolute;
}
.nivo-controlNav a {
    cursor: pointer;
    float: left;
    height: 22px;
    margin-top: 250px;
    position: relative;
    text-indent: -9999px;
    width: 22px;
    z-index: 9;
}
.nivo-controlNav a.active {
    background-position: 0 -22px;
}

.sidebar_container
{ float: left;
  width: 260px;
  margin: 0px 0 20px 0;}

.sidebar
{ float: right;
  width: 240px;
  padding-left: 10px;
  margin-bottom: 10px;}

.sidebar_item
{ font: normal 100% arial, sans-serif;
  padding: 0 15px 0 0;
  width: 201px;}

.sidebar h2
{ color: #933A00;}  
  
.sidebar h4
{ font-size: 125%;
  color: #1D1D1D;}

.sidebar p
{ color: #1D1D1D;}

.sidebar a
{ color: #933A00;}

.sidebar a:hover
{ text-decoration: none;}

.sidebar ul li, .sidebar ul li.selected
{ list-style: none; 
  margin: 15px 0;
  padding: 0;}

.sidebar li.selected, .sidebar li:hover
{ color: #5D5D5D;
  text-decoration: none;} 

#content
{ text-align: left;
  width: 960px;
  padding: 0;
  margin: 0 0 0 20px;
  float: left;}

.content_item
{ width: 680px;
  margin: 0 0 20px 20px;
  float: right;}

.content_image
{ width: 250px;
  padding: 0px 20px 20px 0px;
  float: left;}
  
.container_header
{ margin-top: 20px;
  height: 15px;
  margin-top: -130px;
  width: 920px;
  background: transparent url(../images/container_header.png) repeat-x top;}  
  
#footer
{ padding: 0 20px 0 20px;
  background: transparent;}
  
#footer_content
{ width: 920px;
  font: normal 120% arial, sans-serif;
  letter-spacing: -1px;
  height: 45px;
  padding: 30px 0 5px 0;
  text-align: center; 
  background: transparent;
  color: #1D1D1D;}

#footer a, #footer a:hover
{ color: #1D1D1D;
  text-decoration: underline;}

#footer a:hover
{ text-decoration: none;}

ul.links
{ margin: 0;}

ul.links li
{ list-style: none;
  padding: 8px 0;}

ul.links li a, ul.links li a:hover
{ padding: 0 0 0 28px;
  background: transparent url(../images/page.png) no-repeat left center;
  color: #06C4E6;
  text-decoration: underline;} 

ul.links li a:hover
{ color: #5D5D5D;
  text-decoration: none;} 
  
/* from here: http://www.gmarwaha.com/blog/2007/08/23/lavalamp-for-jquery-lovers */
.lavaLampWithImage {
  position: relative;
  height: 30px;
  padding: 10px 0px 5px 0;
  overflow: hidden;
  float: left;
  margin: 0 0px 0 0;
  width: 1000px;
}

.lavaLampWithImage li {
  float: left;
  list-style: none;
}

.lavaLampWithImage li.back {
  background: transparent url(../images/transparent.png) repeat;
  height: 28px;
  z-index: 8;
  position: absolute;
}

.lavaLampWithImage li a {
  font: normal 120% arial, sans-serif;
  text-decoration: none;
  color: #1D1D1D;
  letter-spacing: -1px;
  z-index: 10;
  display: block;
  float: left;
  height: 60px;
  padding: 5px 0px 0px 35px;
  position: relative;
  overflow: hidden;
}

.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
  border: none;
}#map {
	background-image: url(../images/location_bgm.gif);
	height: 390px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 0px;
	padding-left: 0px;
}
#mymap {
	height: 300px;
	width: 500px;
	margin-top: 30px;
	margin-left: 50px;
	margin-right: auto;
}
#location {
	-webkit-transition: text-shadow 1s ease 1s, font-size 1s ease-in-out 1s;
	-moz-transition: text-shadow 1s ease 1s, font-size 1s ease-in-out 1s;
	-ms-transition: text-shadow 1s ease 1s, font-size 1s ease-in-out 1s;
	-o-transition: text-shadow 1s ease 1s, font-size 1s ease-in-out 1s;
	transition: text-shadow 1s ease 1s, font-size 1s ease-in-out 1s;
}
#login {
	float: right;
}
